Django==2.1.7
py-gfm
django-bootstrap3
git+ssh://git@github.com/erwingelissen/django-datetime-widget.git@7bb516dd9f26686c8cf187d754e2d0d5130fa869
pillow
markdown==2.6.11
django-recaptcha==2.0.2
requests
django-blowdb
django-listutils
git+ssh://git@gitlab.com/arcamens/django-paybills.git@v2.0.0
git+ssh://git@gitlab.com/arcamens/django-slock.git@v2.0.0
git+ssh://git@gitlab.com/arcamens/django-jsim.git@v2.0.0
pygments
git+ssh://git@gitlab.com/arcamens/django-sqlike.git@v2.0.0
git+ssh://git@gitlab.com/arcamens/django-onesignal.git@v2.0.0
git+ssh://git@gitlab.com/arcamens/django-jscroll.git@v2.0.0
django-storages
boto3











